<header>
    <mat-toolbar>
        <button mat-icon-button (click)="toggleSidebar.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>SportBoard</h1>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigateToInicioSesion()">Iniciar Sesión</button>
            <button mat-menu-item (click)="navigateToRegistro()">Registrarse</button>
            <botton mat-menu-item (click)="navigateToPerfil()">Perfil</botton>
        </mat-menu>
    </mat-toolbar>
</header>
